/* STYLE THE BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* UMP LOGO */
img {
  width: 12.4%;
  background-image: url("UMP.png");
  height: 80px;
  background-position: left;
  position: fixed;
} 


/* HEADER */
.header {
  padding :7px;
  text-align: center;
  background: #1abc9c;
  color: white;
  position: fixed;
  width: 100%;
  padding-bottom: 23px;
}

/* TIME */
b.italic {
  font-style: italic;
  color: yellow;
}

/* INCREASE THE FONT SIZE OF THE HEADING */
.header h1 {
  font-size: 40px;
  font-family: Stencil;
  text-align;justify;
}

h2{
  text-align: center;
  font-family: Segoe UI Black;
}

/* BUTTON */
.button {
  background-color: #508585;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Myriad Pro Light;
  margin: 20px 10px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}


/* NAVIGATION BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align:left;
  font-family:Myriad Pro Light;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #508585;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* BORDER */
.solid{
	border-style:solid;
	text-align:center;
	
}

p.dashed{
	border-style:dashed;
	text-align:center;
	padding:50px;
}

/* BACKGROUND CONTENT */
.bgbox{
  background-color: #c6ecd9;
}


/* TABLE COMPANY & STUDENT LIST */

table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  border: 1px solid black;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: black;
}



/* Form Campany Registration & Student Application*/

.required {  
   color: red;
}
 
.errorMsg {  
   color: red;
}
 
.errorBox { 
   border: 2px solid red;
}
 
table {
   border: 0;
}
 
td {
   margin: 2px 4px;
   padding: 3px 10px;
   font-family:Myriad Pro Light;
}